@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  margin-top: 60px;
}

.content {
  width: 960px;
  margin: 0 auto;
}

#index h1 {
  font-size: 100px;
  color: #ffffff;
  font-family: fantasy;
  line-height: 1;
  margin-bottom: 50px;
}

#index p {
  font-size: 16px;
  color: cyan;
}

.btn a {
  background-color: aqua;
  color: #ffffff;
  font-size: 20px;
  font-family: fantasy;
  width: 185px;
  display: block;
}